:root{
    font-family: 'Beaufort for LOL', sans-serif;
    --color-primary: #c8aa6e;
    color: #c8aa6e;
    background-color: #0a1428;
}

#root{
    color: #c8aa6e;
    background-color: #0a1428;
}
